/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Här börjar min kod*/
body{
background: lightgrey;	
}


#wrapper{
	width: 90%;
	background: white;	
	margin: 0 auto;
	border: 2px grey solid;
	padding: 5px;
}


#header{
	width: 100%;
	border-color: #00A653;
	border-style: solid;
	border-width: 2px;
	border-left: 0;
	border-right: 0;
	height: 150px;
}


.logo{
	width: 12.5%;
		/*line-height: 20px;
	margin: 0;
	
	height: 100px;*/
}

#logo{
	/*position: relative;*/
	width: 100%; /* för IE 6 */	
	left: 2.9%;
	bottom:-20px;
	max-height: 100%;

}

/*img{
border: 0;
vertical-align: middle;	
}*/



/* Jag vill att menyn ska flyta åt vänster.*/
.meny ul{
	  list-style: none;
  background-color: #505050; /*#444*/
  text-align: center;
  padding: 0;
  margin: 0;
  overflow: auto;

}


/* Inline innebär att menyn ska ligga på en rad. */
.meny li{
	font-family: arial, helvetica, sans-serif;
	font-size: 20px;
	/*display: inline;*/
	line-height: 40px;
	  height: 40px;
	   width:20%; /*160px*/
	   position: relative;
  display: inline-block;
  float: left;
  text-align:center;
}

/* Här stilar jag länkarna (ankarna). Texten är svart och fetmarkerad och jag vill inte ha någon understrykning. */
.meny a{
	color: #fff;
	text-decoration: none;	
	
}

/* Hover innebär när man för muspekaren över ankaret/länken och här säger jag att jag då vill att en understrykning ska synas.*/
.meny a:hover{
	text-decoration: underline;	
}




/* Storleken är 100% bred av sidan. */
#content{
	width: 100%;
	/*float: left;*/
	display: inline; /* IE 5/6 */
}

#footer{
	border-color: #00A653;
	border-style: solid;
	border-width: 2px;
	border-bottom: 0px;
	border-left: 0;
	border-right: 0;
	clear: both;
}

h1{
	font-family: 'WebFont', Arial, sans-serif;
	font-size: 50px;
	width: 100%;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 10px;
	text-align: center;
	clear: both;
}

.bakgrundsbild{
	width: 100%;	
}

#box1{ 
	font-family: 'source_sans_proregular', arial, helvetica, bold;
	font-size: 20px;
	width: 200px; 
	line-height: 25px;
	padding: 10px;
	text-align: center;
	float: left;
}


#box2{
	font-family: 'source_sans_proregular', arial, helvetica, bold;
	font-size: 20px;
	width: 200px;
	line-height: 25px;
	padding: 10px;
	text-align: center;
	float: right;
}

p{
	font-family: 'source_sans_proregular', arial, helvetica, bold;
	font-size: 15px;
	line-height: 8px;
	text-align: left;
	padding: 5px;
}

/* page 2*/
.dogs{
	width: 45%;
	float: left;
	margin: 10px;
}

.boat{
	width: 45%;
	float: right;
	margin: 10px;
}

.beach{
	width: 45%;
	float: left;
	margin: 10px;
}

.pool{
	width: 45%;
	float: right;
	margin: 10px;
}

.bird{
	width: 45%;
	float: right;
	margin: 10px;
}

.iguana{
	width: 45%;
	float: left;
	margin: 10px;
}

.turtle{
	width: 45%;
	float: left;
	margin: 10px;
}

.road{
	width: 45%;
	float: right;
	margin: 10px;
}

.railroad{
	width: 45%;
	float: left;
	margin: 10px;
}

.curtain{
	width: 45%;
	float: right;
	margin: 10px;
}

.dalarna{
	width: 45%;
	float: left;
	margin: 10px;
}

.statue{
	width: 45%;
	float: right;
	margin: 10px;
}

.starbucks{
	width: 80%;
	float: center;
	margin: 10px;
}
