/**************
MEDIA QUERIES
**************/
/*
@media (max-width: 600px){
	body {
		background: yellow;
	}

}
*/

/* Här nedan har jag definierat att denna CSS ska gälla om storleken på webläsaren är upp till 1024px. Om en kod inte är kommenterad så gäller det vanliga CSS:en. Detta är dvs tillägg.*/
@media handheld and (max-width: 1024px), screen and (max-device-width: 1024px), screen and (max-width: 1024px) {

    /* Jag minskar wrappern bredd till 95%. */
    #wrapper {
        width: 95%;
        margin: 15px;
    }

    /* Här klumpar jag ihop headern, logon och menyn och de ska ha en bredd på 100%.*/
    #header, #logo, .meny {
        width: 100%;
    }

    /* Bredden på boxarna är 100% i förhållande till sidan och båda flyter nu till vänster. Box2 har jag staplat på box1 (till skilland mot inline). */
    #box1 {
        width: 100%;
        float: left;
    }

    #box2 {
        width: 100%;
        display: block;
        float: left;
    }

    /* Här tar jag bort bort det gröna strecket från headern.*/
    #header {
        border-bottom: none;

    }

    .meny {
        display: block;
    }

    .meny ul {

    }

    /* min meny har jag gjort om med nedanstående egenskaper. */
    .meny a /*, .meny span*/
    {
        display: block;
        padding: 5px 10px;
        border-right: 1px solid #4C4C4C;
        border-left: 1px solid #4C4C4C;
        border-bottom: 1px solid #aaab9c;
        color: #fff;

        /*color: #757575;*/
    }

    /* Nya egenskaper till min logga. */
    #logo {
        text-align: center;
        margin-bottom: 10px;
    }

    /* Ger rubriken en ny storlek.*/
    h1 {
        font-size: 25px;
    }

    p {
        font-size: 12px;
        text-align: center;
    }

}

/* Här är ändringar när storleken på websidan är max 480px bred. */
@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px) {

    /* Jag har en padding på 5px. */
    body {
        padding: 5px;
    }

    #wrapper {
        width: inherit;
    }

    #logo {
        margin: 10px 0;
    }

    #box1 {
        font-size: 15px;
        line-height: 20px;
    }

    #box2 {
        display: block;
        float: left;
        font-size: 15px;
        line-height: 20px;
    }

    #footer {
        padding: 10px;
    }

    /* Här är undersidans bilder definierade med egenskaper.*/
    .dogs {
        width: 100%;
        position: relative;
        left: -10px;
    }

    .boat {
        width: 100%;
        margin-right: -10px;
        position: relative;
        left: -10px;
    }

    .beach {
        width: 100%;
        position: relative;
        left: -10px;
    }

    .pool {
        width: 100%;
        margin-right: -10px;
        position: relative;
        left: -10px;
    }

}




